/*** CSS RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/** LARGE SCREENS **/
@media screen and (min-width:600px){
  .navbar {
    top: 0;
    width: 5rem;
    height:100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display:block;
    
  }  
  .navbar-nav {
    flex-direction:column;
  }
  .top {
    font-size: small;
  }
  .top img {
    width:6rem;
    opacity:80%;
    padding:0.55rem;

  }
  main, header {
    margin-left: 7rem;
    margin-right: 5rem;
  }


}

/** SMALL SCREENS **/
@media screen and (max-width:600px) {
  .navbar {
    bottom: 0;
    width:100vw;
    height:5rem;
    z-index: 1000;
  }
  .logo {
    display:none;
  }
  .navbar-nav {
    flex-direction:row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin-right: 2.75rem;
  }
  .top {
    font-size:x-small;
  }
  .top img {
    width:4rem;
    opacity:80%;
    padding:0.5rem;
  }
 
  section {
    padding:1rem;
    margin:1rem;
  }
}

/** GENERAL STYLES **/

body {
  font-family: 'Rubik', sans-serif;
  background-color: black;
  font-size: 16px;
  color:white;
  max-width: 850px;
  display: grid;
  grid-template-columns: auto 1px; 
  grid-template-rows: auto auto auto 0;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  background: -webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  background: -webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  background: -webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  margin:1rem;
}

section {
  background-color: #212121;
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
}

a {
  font-weight: 700;
  color:#b9a8fd;
  text-decoration: none;
}

a:hover {
  color:#fcc545;
}

.em {
  font-weight: 700;
  background: -webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*** SCROLLBAR ***/
body::-webkit-scrollbar {
  width:0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24
}

body::-webkit-scrollbar-thumb {
	background: -webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
}

/*** NAV BAR ***/
.navbar {
	position:fixed;
	background-color:#212121;
	transition: width 200ms ease;
}

.navbar-nav {
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	align-items: center;
}

.nav-item {
	width: 100%;
}

.nav-link {
	display:flex;
	align-items:center;
	height:5rem;
	color: black;
	text-decoration:none;
}

.nav-link:hover {
  background: #fd1d83;
  opacity:95%;
}

.link-text {
	display:none;
	margin-left: 1rem;
}

.nav-link svg {
	min-width: 2rem;
	max-width: 2rem;
	margin:  1.5rem;
}

.logo {
	width: 100%;
	text-align:center;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing 0.3ch;
	background: #fd1d83;
	opacity:95%
}

.logo .nav-link:hover {
  background:-webkit-radial-gradient(circle, #b9a8fd 0%, #fd1d83 50%, #fcc545 100%);
  opacity:95%;
}

/** SPECIFIC STYLES **/

header {
  padding: 1rem; 
  text-align: center; 
  position: block; /
  top: 0; 
  height:100vh;
  max-width: 100vw;
  grid-column-start: 1;
  grid-column-end: 3;
}

header .peace-sign {
  width: 15rem;
  margin:2rem;
  animation-duration: 2s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.button {
  padding:0.5rem 1rem;
  margin-top: 1rem;
  background-color:#b9a8fd;
  border-radius:20px;
  display:inline-block;
  font-size: 1.5rem;
  box-shadow: 0px 5px #766ca2;
}

.button:hover {
  transform: translateY(3px);
}

footer {
  margin-left: 0rem;
  margin-bottom: 5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.copyright {
  font-size: 0.75rem;
  color:#b9a8fd;
}

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 5rem;      
  margin-right: 0.25rem;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-align: center;
  animation-duration: 2s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.top img:hover {
  opacity:100%;
}