body {
  background-color: rgb(248, 179, 179);
  font-family: Verdana;
}
h1 {
  color: rgb(235, 100, 123);
  font-size: 24px;
}
p {
  color: rgb(194, 110, 61);
  font-size: 16px;
}
.intro {
  color: rgb(166, 124, 194);
}
/* why is this .intro not working AGHG?!*/
/*apparently it needed to be wrapped in a <div for some reason*/
.wrapper {
  background-color: rgb(255, 236, 211);
}
a {
  color: rgb(216, 100, 172);
  text-decoration: none;
}
a:hover {
  color: rgb(136, 221, 129);
  text-decoration: underline;
  text-transform: uppercase;
}
.footer {
  text-align: center;
}
